/* COLORS */
:root {
  --bg-primary: #0d1117;
  --bg-secondary: #000000;
  --neon-cyan: #00ffc8;
  --neon-purple: #8115df;
}

/* Page Styling */
.app {
  background: var(--bg-primary);
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  color: white;
}

.header {
  padding: 20px;
  border-bottom: 1px solid var(--neon-purple);
  background: var(--bg-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 3px;
}

.search-box {
  position: relative;
}

.search-box input {
  padding: 10px 12px 10px 40px;
  background: var(--bg-secondary);
  border: 1px solid var(--neon-purple);
  border-radius: 12px;
  color: white;
  width: 250px;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--neon-cyan);
}

/* Grid Layout */
.grid {
  margin-top: 30px;
  padding: 20px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

/* Item style */
.product-card {
  background: var(--bg-secondary);
  border: 2px solid var(--neon-cyan);
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0, 255, 200, 0.4);
}

.product-card:hover {
  transform: scale(1.03);
  border-color: var(--neon-purple);
  box-shadow: 0 0 20px rgba(129, 21, 223, 0.6);
}

.product-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.product-info {
  padding: 15px;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

.price {
  color: var(--neon-purple);
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
}

.btn-add {
  width: 100%;
  padding: 10px;
  background: rgba(0, 255, 200, 0.2);
  border: 1px solid var(--neon-cyan);
  color: var(--neon-cyan);
  border-radius: 12px;
  transition: 0.3s;
}

.btn-add:hover {
  background: var(--neon-cyan);
  color: black;
}

/* Footer */
.footer {
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  border-top: 1px solid rgba(0, 255, 200, 0.2);
  background: var(--bg-secondary);
}

.no-result {
  text-align: center;
  padding: 50px;
  color: #bbb;
  font-size: 20px;
}
